<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="home-heading1" style="color:#000000;">Heading</h1>
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="home-slider2" style="width:100%;height:200px;">
      <ion-slide-page id="home-slide27" style="background:url(&quot;img/avfsZwJT9WGsBj982ul1_kitten1.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide28" style="background:url(&quot;img/gHd5vedGQJu4s4qsPQvr_kitten2.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="home-slide29" style="background:url(&quot;img/WE6rB9dZRTiIWQlP5qsA_kitten3.jpg&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
    <ion-list id="home-list2">
      <ion-item class="item-icon-left" id="home-list-item8">
        <i class="icon ion-happy-outline"></i>Item</ion-item>
    </ion-list>
    <ion-list id="home-list3">
      <ion-item class="item-avatar" id="home-list-item9">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="range range-positive" id="home-range1">Range
        <input type="range" value="50" min="0" max="100" step="1">
      </ion-item>
      <label class="item item-select" id="home-select1">
        <span class="input-label">Select</span>
        <select></select>
      </label>
    </ion-list>
  </ion-content>
</ion-view>